 /* This will add a default style of padding and margin to all document */
 
 * {
     padding: 0px;
     margin: 0;
 }
 /* this defines variables for color */
 
 :root {
     --primary-color: rgb(78, 150, 209);
     --secondary-color: rgb(160, 76, 76);
 }
 /* this add background color */
 
 .background {
     background-color: rgba(180, 197, 253, 0.527);
 }
 /* this adds a Padding of 20px to the Search Section */
 
 .searchSection {
     padding: 20px;
 }
 /* this gives a padding to left and right so you can see edges */
 
 body {
     padding-left: 5px;
     padding-right: 5px;
 }
 /* this styles the jumbotron */
 
 .jumbotron {
     height: 400px;
     width: 100%;
     margin-bottom: 25px;
     background-image: url("../img/volunteer-tourist-hand-clean-up-garbage-plastic-debris-dirty-beach-into-big-blue-bag.jpg");
     background-size: cover;
     background-position: center;
     box-shadow: 25px 25px 50px 0 rgb(180, 197, 253, 0.527) inset, -25px -25px 50px 0 white inset;
     border-radius: 5px;
     opacity: 0.7;
     padding: 0px;
 }
 /*  this styles the h1 in header */
 
 .header h1 {
     display: inline-block;
     font-size: 48px;
     text-align: center;
 }
 /* the below code styles the nav bar */
 
 nav {
     padding-top: 15px;
     margin-right: 20px;
     font-size: 20px;
     list-style-type: none;
     display: inline-block;
     position: sticky;
     position: -webkit-sticky;
     top: 0;
 }
 
 header nav {
     margin: -30px 0 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }
 
 header nav ul li a {
     padding: 10px 15px;
     font-weight: 200;
     font-size: 1.55vw;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
 
 header nav ul li a:hover {
     background: var(--primary-color);
     color: var(--secondary-color);
 }
 /* this styles the buttons */
 
 .buttons {
     width: 20%;
     display: inline-block;
 }
 /* this styles the Seach Section */
 
 .searchSection {
     width: 100%;
 }
 /* Styles for class API resulsts */
 
 .api-results {
     width: 200%;
     display: inline-block;
     margin-left: 5px;
 }
 /* This aligns the text to center to all section titles */
 
 .sectionTitle-1 {
     text-align: center;
 }
 /* this streches the forecast to a width of 100% */
 
 .forecastStrech {
     width: 100%;
 }
 /* style for font */
 
 .newFont {
     font-family: 'Tangerine', serif;
     text-shadow: 4px 4px 4px #aaa;
     color: darkgoldenrod;
 }
 /* style for a font size in all title */
 
 .title.is-1 {
     font-size: 80px;
 }
 /* styles columns in forecast */
 
 .columns {
     margin-left: 5px;
     margin-top: 5px;
     margin-right: 5px;
 }
 /* adjusts seach section */
 
 .adjust {
     justify-content: center;
 }
 /* style the search input and button */
 
 .search-html {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 142px;
 }
 /* gives details to input class */
 
 .input {
     width: 26%;
     margin-left: 5px;
 }
 /* adds cursor pointer to pastcity, cityname */
 
 #pastCity {
     cursor: pointer
 }
 
 #cityname {
     cursor: pointer
 }
 /* gives font color and size of text to results */
 
 .smaller {
     color: red;
     font-size: 10px
 }
 /* styles the forecast to be center in middle of page */
 
 .forecast {
     display: flex;
     justify-content: center;
     background-color: rgba(114, 197, 218, 0.781);
 }
 /* the below styles all media queries for screen sizes */
 
 @media screen and (max-width: 1346px) {
     .search-html {
         width: 80%;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 250px;
     }
     nav {
         padding-top: 15px;
         margin-right: 20px;
         font-size: 20px;
         list-style-type: none;
         display: inline-block;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
     }
     header nav {
         margin: 7px 0;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     header nav ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         list-style: none;
     }
     header nav ul li a {
         padding: 10px 15px;
         font-weight: 200;
         font-size: 15px;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     header nav ul li a:hover {
         background: var(--primary-color);
         color: var(--secondary-color);
     }
 }
 
 @media screen and (max-width: 980px) {
     .search-html {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 25px;
     }
     nav {
         padding-top: 15px;
         margin-right: 20px;
         font-size: 20px;
         list-style-type: none;
         display: inline-block;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
     }
     header nav {
         margin: 7px 0;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     header nav ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         list-style: none;
     }
     header nav ul li a {
         padding: 10px 15px;
         font-weight: 200;
         font-size: 15px;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     header nav ul li a:hover {
         background: var(--primary-color);
         color: var(--secondary-color);
     }
 }
 
 @media screen and (max-width: 749px) {
     .search-html {
         width: 150%;
         display: flex;
         justify-content: left;
         align-items: center;
         padding-left: 0px;
     }
     nav {
         padding-top: 15px;
         margin-right: 20px;
         font-size: 20px;
         list-style-type: none;
         display: inline-block;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
     }
     header nav {
         margin: 7px 0;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     header nav ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         list-style: none;
     }
     header nav ul li a {
         padding: 10px 15px;
         font-weight: 200;
         font-size: 15px;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     header nav ul li a:hover {
         background: var(--primary-color);
         color: var(--secondary-color);
     }
     .input {
         width: 26%;
         margin-left: 5px;
     }
 }
 
 @media screen and (max-width: 690px) {
     .search-html {
         width: 150%;
         display: inherit;
         justify-content: left;
         align-items: center;
         padding-left: 0px;
     }
     nav {
         padding-top: 15px;
         margin-right: 20px;
         font-size: 20px;
         list-style-type: none;
         display: inline-block;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
     }
     header nav {
         margin: 7px 0;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     header nav ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         list-style: none;
     }
     header nav ul li a {
         padding: 10px 15px;
         font-weight: 200;
         font-size: 15px;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     header nav ul li a:hover {
         background: var(--primary-color);
         color: var(--secondary-color);
     }
     .input {
         width: 26%;
         margin-left: 5px;
     }
 }
 
 @media screen and (max-width: 380px) {
     .search-html {
         width: 80%;
         display: initial;
         justify-content: center;
         align-items: center;
         padding-left: 0px;
     }
     nav {
         padding-top: 15px;
         margin-right: 20px;
         font-size: 20px;
         list-style-type: none;
         display: inline-block;
         position: sticky;
         position: -webkit-sticky;
         top: 0;
     }
     header nav {
         margin: 7px 0;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     header nav ul {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         list-style: none;
     }
     header nav ul li a {
         padding: 10px 15px;
         font-weight: 200;
         font-size: 15px;
         text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
     header nav ul li a:hover {
         background: var(--primary-color);
         color: var(--secondary-color);
     }
 }